:root{
    --gold: #e6d196;
    --red: #d41b1e;
    --green: #95CD6E;
    --darkGrey: #1a1a1a;
    --lightGrey: #484848;
}
@font-face{
    font-family: 'URWGrotesk ExtraLight';
    src: url('fonts/URW Grotesk ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'URWGrotesk Regular';
    src: url('fonts/URW Grotesk Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'URWGrotesk ExtraLight', sans-serif;
    font-size: 100%;
    font-weight: bold;
    outline: none;
    transition: 0.2s;
    box-sizing: border-box;
    word-wrap: break-word;
    color: inherit;
    user-select: none;
    letter-spacing: 2px;
}
html, body{
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}
body{
    flex: 1;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 900px){
    
}
header{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    width: 100%;
    margin: 0;
    padding: 15px;
    color: white;
    background-color: black;
    border-bottom: 3px solid #d71920;
    font-family: 'URWGrotesk ExtraLight', sans-serif;
    gap: 15px;
    box-shadow: 0 0 15px var(--red);
}
header .headerText{
    position: relative;
}
header .headerText a{
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    font-family: 'URWGrotesk ExtraLight', sans-serif;
    font-weight: 600;
}
header .headerText img{
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    height: 35px;
    width: auto;
    border-radius: 0px;
    margin: 0 5px;
    padding: 0;
}
.container{
    margin: auto;
    width: 500px;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: fit-content;
    padding: 30px;
    background: black;
    border: none;
    border-radius: 6px;
    outline: 3px solid var(--red);
}
.container form h1{
    text-align: center;
    color: white
}
.container form label{
    color: white
}
.container form input[type="email"], .container form input[type="password"]{
    width: 100%;
    color: white;
    background: transparent;
    outline: 3px solid var(--red);
    border: none;
    border-radius: 6px;
    margin: 0;
    padding: 10px;
    transition: 0.2s;
}
.container form input[type="email"]:hover, .container form input[type="password"]:hover{
    
}
.container form input[type="email"]::placeholder, .container form input[type="password"]::placeholder{
    color: var(--red);
}
.container form [type="email"]:not(:placeholder-shown), .container form [type="password"]:not(:placeholder-shown), .container form [type="email"]:focus, .container form [type="password"]:focus{
    background-color: var(--red);
}
.container form [type="email"]:focus::placeholder, .container form [type="password"]:focus::placeholder{
    color: white;
}
.container form input[type="submit"]{
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--red);
    border-radius: 6px;
    transition: .3s;
    outline: 3px solid var(--red);
}
.container form input[type="submit"]:hover{
    background-color: var(--red);
    color: white;
}
#messageHandler{
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    text-align: center;
    color: var(--red);
}