:root{
    --gold: #e6d196;
    --red: #d41b1e;
    --redTransparent: rgba(212, 27, 30, 0.5);
    --green: #95CD6E;
    --darkGrey: #0f0f0f;
    --lightGrey: #212121;
}
@font-face{
    font-family: 'URWGrotesk ExtraLight';
    src: url('fonts/URW Grotesk ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'URWGrotesk Regular';
    src: url('fonts/URW Grotesk Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'URWGrotesk ExtraLight', sans-serif;
    font-size: 100%;
    font-weight: bold;
    transition: 0.2s;
    box-sizing: border-box;
    word-wrap: break-word;
    color: inherit;
    user-select: none;
    letter-spacing: 2px;
    border-radius: 15px;
    outline-offset: -1px;
}
html, body{
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}
body{
    flex: 1;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 900px){
    
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 125%;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: black;
    color: white;
    font-family: 'URWGrotesk ExtraLight', sans-serif;
    gap: 15px;
    border-radius: 0;
    border-bottom: 3px solid var(--red);
}
header .headerText{
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
}
header .headerText a{
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 3px 0 0 0;
    position: relative;
}
header .headerText img{
    height: 35px;
    width: fit-content;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
header .headerIcons{
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
}
/* For center header style */
/* header .headerText img{
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    height: 35px;
    width: auto;
    margin: 0 5px;
    padding: 0;
    border-radius: 0;
} */
.homeContainer{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px;
    gap: 15px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: start;
    border-radius: 0;
}
.homeContainer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* background-image: url('images/background.png');
    background-size: cover;
    background-position: center; */

    filter: blur(2px);
    z-index: 0;
}
.groupMatcher{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
.groupMatcher .groupsContainer{
    position: relative;
    display: flex;
    width: 75%;
    min-height: 0;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
    gap: 15px;
}
.groupMatcher .groupsControls{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.groupMatcher .groupsControls button{
    display: flex;
    color: white;
    background-color: var(--red);
    cursor: pointer;
    width: fit-content;
    height: 50px;
    margin: 0;
    padding: 15px 60px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--redTransparent);
    backdrop-filter: blur(2px);
}
.groupMatcher .groupsControls button:hover{
    /* filter: brightness(0.9); */
    transform: scale(1.05);
    backdrop-filter: blur(4px);
}
.groupMatcher .groupsControls #squareButton{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    aspect-ratio: 1 / 1;
}
.groupMatcher .groupsContainer .groups{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1;
    gap: 15px;
    align-items: center;
}
.groupMatcher .groupsContainer .groups .group{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px;
    flex: 1;
    background-color: var(--darkGrey);
    color: white;
    flex-direction: column;
    gap: 30px;
}
.groupMatcher .groupsContainer .groups .group .groupTitle{
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 15px;
    background-color: var(--red);
    flex-shrink: 0;
    justify-content: space-between;
}
.groupMatcher .groupsContainer .groups .group .groupTags{
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 15px;
    background-color: var(--red);
    flex-shrink: 0;
    justify-content: space-between;
}
.groupMatcher .groupsContainer .groups .group .groupDescription{
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 15px;
    background-color: var(--red);
    flex-shrink: 0;
    justify-content: space-between;
}
.container{
    position: relative;
    margin: 0 auto;
    padding: 15px;
    width: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: fit-content;
    padding: 45px;
    background: black;
    border: none;
    box-shadow: 0 0 15px 0px black;
    font-size: 90%;
}
.container form h1{
    text-align: center;
    color: white;
}
.container .doubleInput{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.container .doubleInput div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container form label{
    color: white;
}
.container form input{
    width: 100%;
    color: white;
    background: transparent;
    outline: 2px solid var(--red);
    border: none;
    margin: 0;
    padding: 15px;
}
/* removed empty hover rule to satisfy linter */
.container form input::placeholder{
    color: var(--red);
}
.container form input[type="email"]:not(:placeholder-shown), .container form input[type="password"]:not(:placeholder-shown), .container form input[type="number"]:not(:placeholder-shown), .container form input[type="text"]:not(:placeholder-shown), .container form input:focus{
    background-color: var(--red);
}
.container form input:focus::placeholder{
    color: black;
}
.container form select{
    width: 100%;
    color: var(--red);
    background: transparent;
    outline: 2px solid var(--red);
    border: none;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    border-right: 15px solid transparent;
}
.container form select:focus, .container form select:valid{
    background-color: var(--red);
    color: white;
}
.container form select option{
    background-color: black;
    color: white;
    padding: 10px;
}
.container form input[type="submit"]{
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 95%;
    text-transform: capitalize;
    color: white;
    outline: 2px solid white;
}
.container form input[type="submit"]:hover{
    background-color: white;
    color: black;
}
.container form hr{
    width: 85%;
    border: none;
    border-top: 1px solid var(--lightGrey);
    margin: 20px auto;
}
.conversationsContainer{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-direction: row;
    background-color: black;
    border-radius: 0;
    color: white;
}
.conversationsContainer .conversationsList{
    display: flex;
    width: 30%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
}
.conversationsContainer .conversationsList .conversationsListActiveConversation{
    width: 100%;
    background-color: var(--red);
    margin: 0;
    padding: 15px;
    white-space: nowrap;
    border-radius: 0;
    cursor: pointer;
}
.conversationsContainer .conversationsList .conversationsListConversation{
    width: 100%;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
    border-radius: 0;
    cursor: pointer;
}
.conversationsContainer .conversationsList .conversationsListConversation:hover{
    background-color: var(--lightGrey);
}
.conversationsContainer .activeConversation{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px;
    flex-direction: column;
}
.conversationsContainer .activeConversation .messages{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 15px;
}
.conversationsContainer .activeConversation .messages .message{
    display: flex;
    width: fit-content;
    height: fit-content;
    max-width: 60%;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.conversationsContainer .activeConversation .messages .message .messageSenderInfo{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px;
    flex-direction: column;
}
.conversationsContainer .activeConversation .messages .message .messageContent{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px;
    flex-direction: column;
    background-color: var(--red);
}

.conversationsContainer .activeConversation .messages .message .messageContent .messageInfo{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
}
.conversationsContainer .activeConversation .messageBar{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px;
    gap: 15px;
    flex-direction: row;
}
.conversationsContainer .activeConversation .messageBar input{
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: var(--lightGrey);
    border: 0;
    outline: none;
}
.conversationsContainer .activeConversation .messageBar button{
    display: flex;
    color: white;
    background-color: var(--red);
    cursor: pointer;
    width: fit-content;
    height: 50px;
    margin: 0;
    padding: 15px 60px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--red);
    backdrop-filter: blur(2px);
}
.conversationsContainer .activeConversation .messageBar button:hover{
    background-color: var(--red);
    transform: scale(1.05);
    backdrop-filter: blur(4px);
}
#messageHandler{
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
    color: var(--lightGrey);
}
footer{
    display: flex;
    justify-content: center;
    font-size: 90%;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 0;
    border-top: 3px solid var(--red);
}
/* Google Material Icons */
.material-icons-round{
    cursor: pointer;
}
.material-icons-round:hover{
    color: var(--red);
}
/*Scrollbar*/
::-webkit-scrollbar{
    width: 8px;
    display: none;
}
::-webkit-scrollbar-track{
    border-radius: 100px;
    background: var(--lightGrey);
}
::-webkit-scrollbar-thumb{
    background: var(--lightGrey);
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--darkGrey);
}
.patches::-webkit-scrollbar{
    display: none;
}
.patches{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Remove Arrows from Number Input */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    appearance: textfield;
    -moz-appearance: textfield;
}