:root{
    --gold: #e6d196;
    --red: #d41b1e;
    --green: #95CD6E;
    --darkGrey: #0f0f0f;
    --lightGrey: #212121;
}
@font-face{
    font-family: 'URWGrotesk ExtraLight';
    src: url('fonts/URW Grotesk ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'URWGrotesk Regular';
    src: url('fonts/URW Grotesk Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'URWGrotesk ExtraLight', sans-serif;
    font-size: 100%;
    font-weight: bold;
    transition: 0.2s;
    box-sizing: border-box;
    word-wrap: break-word;
    color: inherit;
    user-select: none;
    letter-spacing: 2px;
    border-radius: 15px;
    outline-offset: -1px;
}
html, body{
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}
body{
    flex: 1;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 900px){
    
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    font-size: 125%;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: black;
    color: white;
    font-family: 'URWGrotesk ExtraLight', sans-serif;
    gap: 15px;
    border-radius: 0;
    border-bottom: 3px solid var(--red);
    box-shadow: 0 0 10px var(--red);
}
header .headerText{
    position: relative;
}
header .headerText a{
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
}
header .headerText img{
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    height: 35px;
    width: auto;
    margin: 0 5px;
    padding: 0;
    border-radius: 0;
}
.homeContainer{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px;
    gap: 15px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: start;
}
.homeContainer .welcomeMessage{
    display: flex;
    width: fit-content;
    margin: 0;
    padding: 15px;
    gap: 15px;
    color: white;
    background-color: var(--red);
}
.homeContainer .roomsViewer{
    display: flex;
    width: fit-content;
    margin: 0;
    padding: 15px;
    color: white;
    background-color: black;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 0 0 15px 0px black;
    font-size: 80%;
    gap: 15px;
}
.homeContainer .roomsViewer .roomsViewerMenu{
    display: flex;
    width: 100%;
    max-width: 300px;
    height: fit-content;
    margin: 0;
    padding: 5px;
    gap: 5px;
    justify-content: center;
    background-color: white;
    color: black;
}
.homeContainer .roomsViewer .roomsViewerMenu h1{
    width: 100%;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    text-align: center;
}
.homeContainer .roomsViewer .roomsViewerMenu h1:hover{
    color: white;
    background-color: var(--red);
}
.homeContainer .roomsViewer .roomsViewerMenu .selected{
    color: white;
    background-color: var(--red);
}
.homeContainer .roomsViewer .rooms{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}
.homeContainer .roomsViewer .rooms .room{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 15px;
    justify-content: start;
    gap: 15px;
    background-color: var(--red);
}
.homeContainer .roomsViewer .rooms .room h1{
    margin: 0;
    padding: 15px;
}
.homeContainer .roomsViewer .rooms .room h2{
    color: var(--red);
    background-color: white;
    margin: 0;
    padding: 15px 30px;
    cursor: pointer;
}
.homeContainer .roomsViewer .rooms .room h2:hover{
    color: var(--red);
    background-color: black;
}
.container{
    position: relative;
    margin: 0 auto;
    padding: 15px;
    width: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: fit-content;
    padding: 45px;
    background: black;
    border: none;
    box-shadow: 0 0 15px 0px black;
    font-size: 90%;
}
.container form h1{
    text-align: center;
    color: white;
}
.container .doubleInput{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.container .doubleInput div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container form label{
    color: white;
}
.container form input{
    width: 100%;
    color: white;
    background: transparent;
    outline: 2px solid var(--red);
    border: none;
    margin: 0;
    padding: 15px;
}
.container form input:hover{
    
}
.container form input::placeholder{
    color: var(--red);
}
.container form input[type="email"]:not(:placeholder-shown), .container form input[type="password"]:not(:placeholder-shown), .container form input[type="number"]:not(:placeholder-shown), .container form input[type="text"]:not(:placeholder-shown), .container form input:focus{
    background-color: var(--red);
}
.container form input:focus::placeholder{
    color: black;
}
.container form select{
    width: 100%;
    color: var(--red);
    background: transparent;
    outline: 2px solid var(--red);
    border: none;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    border-right: 15px solid transparent;
}
.container form select:focus, .container form select:valid{
    background-color: var(--red);
    color: white;
}
.container form select option{
    background-color: black;
    color: white;
    padding: 10px;
}
.container form input[type="submit"]{
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 95%;
    text-transform: capitalize;
    color: white;
    outline: 2px solid white;
}
.container form input[type="submit"]:hover{
    background-color: white;
    color: black;
}
.container form hr{
    width: 85%;
    border: none;
    border-top: 1px solid var(--lightGrey);
    margin: 20px auto;
}
#messageHandler{
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
    color: var(--lightGrey);
}
footer{
    display: flex;
    justify-content: center;
    font-size: 90%;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 0;
    border-top: 3px solid var(--red);
    box-shadow: 0 0 10px var(--red);
}
/*Scrollbar*/
::-webkit-scrollbar{
    width: 8px;
    display: none;
}
::-webkit-scrollbar-track{
    border-radius: 100px;
    background: var(--lightGrey);
}
::-webkit-scrollbar-thumb{
    background: var(--lightGrey);
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--darkGrey);
}
.patches::-webkit-scrollbar{
    display: none;
}
.patches{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Remove Arrows from Number Input */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}